/*
 * Pipeline parameters
 */

params {
    // Primary input (file of input files, one per line)
    input_file        = null
    outdir            = "s3://seqera-test-kariusdx-com/helloworld"
}
profiles {
    demo {
        // Primary input (a file with one line of comma-separated greetings)
        params.input_file = "${projectDir}/data/greetings.csv"
    }
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/report.html"
}
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/timeline.html"
}
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/dag.html"
}
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/trace.txt"
}

process.container = 'quay.io/nextflow/bash'
